
<h1 class="text-center text-6xl font-semibold text-white mb-8 " >Proyectos</h1>

<div class="relative pt-2 lg:pt-2 min-h-screen ">
    <div class="bg-cover w-full flex justify-center items-center" style="background-image: url('/images/mybackground.jpeg');">
        <div class="w-full p-5 bg-opacity-40 backdrop-filter backdrop-blur-lg flex justify-center">
            <div class="w-12/12 mx-auto rounded-2xl p-5 bg-opacity-40 backdrop-filter backdrop-blur-lg">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 text-center px-2 mx-auto text-white">

                    <article class="bg-gray-900 p-6 mb-6 shadow transition duration-300 group transform hover:-translate-y-2 hover:shadow-2xl rounded-2xl cursor-pointer">
                        <a target="_self" href="/blog/slug" class="absolute opacity-0 top-0 right-0 left-0 bottom-0"></a>
                        <div class="relative mb-4 rounded-2xl">
                            <img class="max-h-80 rounded-2xl w-full object-cover transition-transform duration-300 transform group-hover:scale-105"
                                src="./Calculadora.png" alt="">
                        </div>
                        <div class="flex justify-between items-center w-full pb-4 mb-auto">
                            <div class="flex justify-end">
                                <div class="text-sm flex items-center text-gray-500">
                                </div>
                            </div>
                        </div>
                        <h3 class="font-medium text-xl leading-8">
                            <a href="/blog/slug" class="block relative group-hover:text-blue-300 transition-colors duration-200 text-white">
                                Calculadora con JavaScript Vanilla
                            </a>
                        </h3>
                        <div>
                        </div>
                    </article>

                    <article class="bg-gray-900 p-6 mb-6 shadow transition duration-300 group transform hover:-translate-y-2 hover:shadow-2xl rounded-2xl cursor-pointer">
                        <a target="_self" href="/blog/slug" class="absolute opacity-0 top-0 right-0 left-0 bottom-0"></a>
                        <div class="relative mb-4 rounded-2xl">
                            <img class="max-h-80 rounded-2xl w-full object-cover transition-transform duration-300 transform group-hover:scale-105"
                                src="./p2.png"alt="">
                        </div>
                        <div class="flex justify-between items-center w-full pb-4 mb-auto">
                            <div class="flex items-center">
                            </div>
                            <div class="flex justify-end">
                            </div>
                        </div>
                        <h3 class="font-medium text-xl leading-8">
                            <a href="/blog/slug" class="block relative group-hover:text-blue-300 transition-colors duration-200 text-white">
                                App de tareas con angular
                            </a>
                        </h3>
                        <div>
                        </div>
                    </article>

                   

                </div>
            </div>
        </div>
    </div>
</div>
